#parallaxintro .view {
    min-height: 100vh !important;
    height: unset !important;
  }


  .display- mb-0 pt-md-5 pt-5 white-text font-weight-bold{


    visibility: visible;
    animation-name: fadeInDown;
    animation-delay: 0.6s;

  }
